@model Deposit
<div class="secondary-page">
    <h2>Record a New Deposit</h2>
    <p>Enter the information and click "Record".</p>
    @using (Html.BeginForm("SaveNewDeposit", "Deposit", "Post"))
    {
        <input asp-for="DepositID" type="hidden" value="" />
        <br>
        /*<label asp-for="_Student_ID" class="control-label">Student ID</label>
        <input type="text" name="_Student_ID" class="form-control" value="" />*/
        <label for="_Student_ID">Student</label>
        <select class="form-control" name="_Student_ID" value="">
            @foreach (var student in Model.StudentDropdown)
            {
                <option value="@student.StudentID">@student.StudentName (ID:@student.StudentID) </option>
            }
        </select>
        <br>
        <label asp-for="Date" class="control-label">Date</label>
        <input type="text" name="Date" class="form-control" value="@DateTime.Now" />
        <br>
        <label asp-for="Amount" class="control-label">Amount</label>
        //<input type="text" name="Amount" class="form-control" value="0" />
        <select class="form-control" name="Amount" value="">
            @foreach (int num in Model.AmountDropdown)
            {
                 <option value="@num">@num</option>
            }
        </select>
        <br>
        <input asp-for="_Organization_ID" type="hidden" value="@Authentication.StoreID" />
        <input type="submit" value="Record" class="btn btn-primary" />
    }
</div>