@model Prize

@*Inputs information to create a new prize*@
<div class="secondary-page">
    <h2>Add a Prize to the Store</h2>
    <p>Enter the information and click "Create".</p>
    @using (Html.BeginForm("SaveNewPrize", "Prize", "Post")) // inputs and posts email and password to Admin controller, Overview action
    {
        <input asp-for="PrizeID" type="hidden" value="" /> @*primary key is auto-incremented and hidden, but included in the post*@
        <br>
        <label asp-for="PrizeName" class="control-label">Name</label>
        <input type="text" name="PrizeName" class="form-control" value="" />
        <br>
        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" name="Description" class="form-control" value="" />
        <br>
        <label asp-for="ImageLink" class="control-label">Image Link (use square images)</label>
        <input type="text" name="ImageLink" class="form-control" value="" />
        <br>
        <label asp-for="Price" class="control-label">Price</label>
        <select class="form-control" name="Price" value=""> @*dropdown list*@
            @foreach (int num in Model.PriceDropdown) @*populates the dropdown list*@
            {
                 <option value="@num">@num</option>
            }
        </select>
        <br>
        <label asp-for="DisplayStatus" class="control-label">Show or Hide in Store</label>
        <select class="form-control" name="DisplayStatus" value=""> @*dropdown list*@
            @foreach (var status in Model.StatusDropdown) @*populates the dropdown list*@
            {
       	        <option value="@status">@status</option>
            }
            </select>
        <br>
        <label asp-for="Inventory" class="control-label">Current Inventory Count</label>
        <select class="form-control" name="Inventory" value=""> @*dropdown list*@
            @foreach (int num in Model.InventoryDropdown) @*populates the dropdown list*@
            {
                 <option value="@num">@num</option>
            }
        </select>
        <br>
        <input asp-for="_OrganizationID" type="hidden" value="@Authentication.StoreID" /> @*foreign key is set to current organizationID, hidden, and included in post*@
        <input type="submit" value="Create" class="btn btn-primary" /> @*submit button*@
    
    }
</div>


