@model Prize

@*Displays prizes with links to edit or create new*@
<div class="secondary-page">
    <h2>@Model.PrizeName</h2>
    <p>Modify the prize information, then click "Update."</p>
    @using (Html.BeginForm("UpdatePrize", "Prize", "Post")) // posts email and password to admin controller, overview action
    {
        <input asp-for="PrizeID" type="hidden" value="@Model.PrizeID" />
        <br>
        <label asp-for="PrizeName" class="control-label">Name</label>
        <input type="text" name="PrizeName" class="form-control" value="@Model.PrizeName" />
        <br>
        <label asp-for="Description" class="control-label">Description (optional)</label>
        <input type="text" name="Description" class="form-control" value="@Model.Description" />
        <br>
        <label asp-for="ImageLink" class="control-label">Image Link (preview below, square images only)</label>
        <input id="link" type="text" name="ImageLink" class="form-control" value="@Model.ImageLink" />
        <img src=@Model.ImageLink style="width:@(Model.ImageWidth)px;height:@(Model.ImageHeight)px;">
        <br>
        <label asp-for="Price" class="control-label">Price</label>
        //<input type="text" name="Price" class="form-control" value="@Model.Price" />
        <select class="form-control" name="Price" value="@Model.Price">
            <option value="@Model.Price">@Model.Price</option>
            @foreach (int num in Model.PriceDropdown)
            {
                 <option value="@num">@num</option>
            }
        </select>
        <br>
        <label asp-for="DisplayStatus" class="control-label">Show or Hide in Store</label>
        //<input type="text" name="DisplayStatus" class="form-control" value="@Model.DisplayStatus" />
        <select class="form-control" name="DisplayStatus" value="@Model.DisplayStatus">
            <option value="@Model.DisplayStatus">@Model.DisplayStatus</option>
            @foreach (var status in Model.StatusDropdown)
            {
       	        <option value="@status">@status</option>
            }
            </select>
        <br>
        <label asp-for="Inventory" class="control-label">Current Inventory Count</label>
        //<input type="text" name="Inventory" class="form-control" value="@Model.Inventory" />
        <select class="form-control" name="Inventory" value="@Model.Inventory">
            <option value="@Model.Inventory">@Model.Inventory</option>
            @foreach (int num in Model.InventoryDropdown)
            {
                 <option value="@num">@num</option>
            }
        </select>
        <br>
        <input type="submit" value="Update" class="btn btn-primary" />
    }
</div>