@model IEnumerable<Student>

@*Displays all students associated with the store, with links to edit or add new*@

<div class="secondary-page">

    <h2>List of Students</h2>
    <p>Select a student to edit information:</p>


    <table class="table">
        <tr>
            <th>Student ID</th> @*headers*@
            <th>Student Name</th>
            <th>Balance</th>
            <th>Category</th>
            <th>Status</th>
        </tr>

        @foreach (var student in Model) // cycles through and creates a row for each student
        {
            <tr>
                <td>@student.StudentID</td>
                <td><a href="/Student/Index/@student.StudentID">@student.StudentName</a></td> @*link to edit the student's data*@
                <td>@student.Balance</td>
                <td>@student.Category</td>
                <td>@student.Status</td>
            </tr>
        }

    </table>
    <a asp-area="" asp-controller="Student" asp-action="AddStudent">Add a New Student</a> @*link to add a new student*@

</div>