@model Organization
<h2>Store Settings</h2>
<p>Edit the information below and click "Update."</p>
@using (Html.BeginForm("UpdateStore", "Organization", "Post")) // Posts store name, store URL, and currency name to Organization controller, UpdateStore action
{
    <br>
    <input asp-for="OrganizationID" type="hidden" value="@Model.OrganizationID" />
    
    <label asp-for="Name" class="control-label">Name of Store</label>
    <p><em>This is what students will see at the top of the web page.</em></p>
    <input type="text" name="Name" class="form-control" value="@Model.Name" />
    <br>
    
    <label asp-for="CurrencyName" class="control-label">Name of Store Currency</label>
    <p><em>Prices will be in your own pseudo-currency.</em></p>
    <input type="text" name="CurrencyName" class="form-control" value="@Model.CurrencyName" />
    <br>
    
    <label asp-for="WeeklyLimit" class="control-label">Weekly Limit on Select Items</label>
    <p><em>This is the max students may spend on designated items that you wish to limit, such as candy (0 means no limit) </em></p>
    <input type="text" name="WeeklyLimit" class="form-control" value="@Model.WeeklyLimit" />
    <br>
    
    
    <label asp-for="StoreStatus" class="control-label">Store Status</label>
    <p><em>(open or closed)</em></p>
    <input type="text" name="StoreStatus" class="form-control" value="@Model.StoreStatus" />
    <br>

    <label asp-for="AutoSchedule" class="control-label">Auto Schedule</label>
    <p><em>(on or off) Schedule the store to open and close automatically at set times</em></p>
    <input type="text" name="AutoSchedule" class="form-control" value="@Model.AutoSchedule" />
    <br>

    <label asp-for="TimeZone" class="control-label">Time Zone</label>
    <p><em>Use the standard abbreviations</em></p>
    <input type="text" name="TimeZone" class="form-control" value="@Model.TimeZone" />
    <br>

    <label asp-for="CloseDay" class="control-label">Closing Day</label>
    <p><em>Day of the week store closes on auto schedule</em></p>
    <input type="text" name="CloseDay" class="form-control" value="@Model.CloseDay" />
    <br>

    <label asp-for="CloseTime" class="control-label">Closing Time</label>
    <p><em>Time of day store closes on auto schedule</em></p>
    <input type="text" name="CloseTime" class="form-control" value="@Model.CloseTime" />
    <br>

    <label asp-for="OpenDay" class="control-label">Opening Day</label>
    <p><em>Day of the week store opens on auto schedule</em></p>
    <input type="text" name="OpenDay" class="form-control" value="@Model.OpenDay" />
    <br>

    <label asp-for="OpenTime" class="control-label">Opening Time</label>
    <p><em>Time of the day store closes on auto schedule</em></p>
    <input type="text" name="OpenTime" class="form-control" value="@Model.OpenTime" />
    <br>

    <input type="submit" value="Update" class="btn btn-primary" />
 
}